<form method="post" action="/api/go">
    <input type="text" name="bal" placeholder="Login de bal ?">
    <br/>

    <label>Quel est le prénom de celui qui hurle au NULLLLLLLLLLLLLLLLLLLL</label>
    <input type="text" name="null" placeholder="hmmm pffff nuuuulll">
    <br/>
    <button type="submit">Allez à la doc de l'API</button>
</form>